<div class="container">
    <section class="movie-header">
        <h1 class="title">{{movie.title}}</h1>
        <time class="release">{{ movie.releaseDate | date: 'dd/MM/y' }}</time>
    </section>
    <div class="grid-box">
      <section class="section-content">
        <h2 class="subtitle">Sinopse</h2>
        <article class="content-info">{{movie.overview || 'Sem informções'}}</article>
        <h2 class="subtitle">Informações</h2>
        <div class="movie-content-informations">
          <div class="information-item">
              <h3>Situação</h3>
              <p class="content">{{movie.status || 'Sem informções'}}</p>
          </div>
          <div class="information-item">
              <h3>Idioma</h3>
              <p>{{movie.language || 'Sem informções'}}</p>
          </div>
          <div class="information-item">
              <h3>Duração</h3>
              <p>{{(movie.runtime | durationPipe:'min' )|| 'Sem informções'}}</p>
          </div>
          <div class="information-item">
              <h3>Orçamento</h3>
              <p>{{(movie.budget | currency) || 'Sem informções'}}</p>
          </div>
          <div class="information-item">
              <h3>Receita</h3>
              <p>{{ (movie.revenue | currency) || 'Sem informções'}}</p>
          </div>
          <div class="information-item">
              <h3>Lucro</h3>
              <p>{{ (movie.profet | currency) || 'Sem informções'}}</p>
          </div>
        </div>
        <div class="grid-content-footer">
          <section class="section-genres">
              <button type="button" class="buttons-genre" *ngFor="let genre of movie.genres" (click)="searchGenre(genre.id)">{{genre.name}}</button>
          </section>
          <section class="section-vote-average">
              <p>{{(movie.voteAverage ? movie.voteAverage : 0) | percent:'2.0-0'}}</p>
          </section>
        </div>
      </section>
      <section *ngIf="movie.posterPath">
          <img class="section-img poster" [src]="movie.posterPath " [alt]="movie.title " [title]="movie.title">
      </section>
    </div>
    <section *ngIf="trailer" class="container-trailer">
        <iframe class="trailer-iframe" [src]="domSanitizer.bypassSecurityTrustResourceUrl(trailer)"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
  </div>
