.container {
  padding: 3rem;
  max-width: 1170px;
  margin: 0 auto;
}

::placeholder {
  color: var(--primary-color);
  opacity: 0.5;
}

.container-movies {
  margin: 3rem 0;
}

.pagination {
  display: flex;
  justify-content: center;
}

.container-loading {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-loading > img {
  width: 15vmax;
  max-width: 4rem;
}

@media (max-width: 540px) {
  .container {
    padding: 2rem 0;
  }
}
